spring:
  application:
    name: mental-health-hub
  
  security:
    user:
      name: skip
      password: skip
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  
  datasource:
    url: jdbc:mysql://localhost:3306/mental_health_hub
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password:
  
  thymeleaf:
    cache: false
    encoding: UTF-8
    mode: HTML
    check-template-location: true
    prefix: classpath:/templates/
    suffix: .html
  
  mvc:
    static-path-pattern: /static/**
    throw-exception-if-no-handler-found: false

server:
  port: 8888
  servlet:
    context-path: /mentalhealthhub
    session:
      cookie:
        http-only: true
        secure: false

logging:
  level:
    root: INFO
    com.mentalhealthhub: DEBUG
    org.springframework.security: DEBUG
