spring:
  application:
    name: mental-health-hub
  
  security:
    user:
      name: skip
      password: skip
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
  
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  
  h2:
    console:
      enabled: true
  
  thymeleaf:
    cache: false
    encoding: UTF-8
    mode: HTML
    check-template-location: true
    prefix: classpath:/templates/
    suffix: .html
  
  mvc:
    static-path-pattern: /static/**

server:
  port: 8080
  servlet:
    context-path: /
    session:
      cookie:
        http-only: true
        secure: false

logging:
  level:
    root: INFO
    com.mentalhealthhub: DEBUG
    org.springframework.security: DEBUG
